
#top .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 80px 0;
    align-items: center;
}
#top .info{
    padding: 15px;
}
#top .info .green-square{
    border: 20px solid #015701;
    width: 500px;
    height: 500px;
    position: absolute;
    z-index: 0;
    top: 25%;
    left: -5%;
    opacity: .4;
}
#top .info h1{
    position: relative;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #16171b;
    margin-bottom: 2rem;
    z-index: 1;
}
#top .info p{
    position: relative;
    color: #919191;
    margin-bottom: 4rem;
    z-index: 1;
}
#top .info a{
    position: relative;
    font-size: .9rem;
    color: #16171b;
    font-weight: 700;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 2px solid #16171b;
    text-transform: uppercase;
    z-index: 1;
    letter-spacing: 2px;
}
#top .img .background-img {
    background: url('../img/portfolio-picture.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    width: 100%;
    max-width: 500px;
    height: 700px;
}
/* Tablets */
@media only screen and (max-width: 960px){
    #top .container{
        padding: 0 0 80px;
    }
    #top .info .green-square{
       display: none;
    }
    #top .img .background-img{
        height: 100vh;
    }
}
/* Phones */
@media only screen and (max-width: 767px){
    #top .container{
        padding: 0 0 80px;
    }
    #top .info .green-square{
       display: none;
    }
    #top .img .background-img{
        height: 100vh;
    }
}