#color-collection{
    padding: 0px 0 100px;
}
#color-collection container:after{
    content: "";
    display: table;
    clear: both;
}
#color-collection .left-side{
    width: 60%;
    float: left;
}
#color-collection .left-side img{
    width: 80%;
    float: left;
    text-align: center;   
}

#color-collection .right-side{
    width: 40%;
    float: left;
}
#color-collection .right-side .swatch-area{
    background: white;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 45px;
    margin-bottom: 40px;
    margin-top: 150px;
}
#color-collection .right-side .swatch-area:after{
    content: "";
    display: table;
    clear: both;
}
#color-collection .right-side .swatch-area .circle {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   float: left;
   margin-right: 20px;
}
#color-collection .right-side .swatch-area .circle:nth-child(1) {
   background: #7c82a3; /* Old browsers */
   background: -moz-linear-gradient(-45deg, #7c82a3 16%, #7e1c96 59%, #7e1c96 98%); /* FF3.6-15 */
   background: -webkit-linear-gradient(-45deg, #7c82a3 16%,#7e1c96 59%,#7e1c96 98%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(135deg, #7c82a3 16%,#7e1c96 59%,#7e1c96 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c82a3', endColorstr='#7e1c96',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#color-collection .right-side .swatch-area .circle:nth-child(2) {
   background: #ffe293; /* Old browsers */
background: -moz-linear-gradient(-45deg, #ffe293 0%, #ffd65e 46%, #febf04 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, #ffe293 0%,#ffd65e 46%,#febf04 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, #ffe293 0%,#ffd65e 46%,#febf04 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe293', endColorstr='#febf04',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
#color-collection .right-side .swatch-area .circle:nth-child(3) {
   background: #f29e18; /* Old browsers */
   background: -moz-linear-gradient(top, #f29e18 42%, #ff1a00 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, #f29e18 42%,#ff1a00 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, #f29e18 42%,#ff1a00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f29e18', endColorstr='#ff1a00',GradientType=0 ); /* IE6-9 */
   margin-right: 0;  
}
#color-collection .right-side{
    width: 40%;
    float: left;
}
#color-collection .right-side:after{
    content: "";
    display: table;
    clear: both;
}
#color-collection .right-side .info-box{
    max-width: 290px;
    width: 100%;
    background: white;
    padding: 40px 20px;
    display: inline-block;
    text-align: center;
}
#color-collection .right-side .info-box h2{
    font-size: 2rem;
}
#color-collection .right-side .info-box h2 span{
    display: block;
    text-align: center;
}
#color-collection .right-side .info-box h2 span.orange{
  color: #FEA83C;
  font-weight: 100;
}
#color-collection .right-side .info-box h2 span.blue{
  color: #4C44C1;
}
#color-collection .right-side .info-box h2 span.purple{
  color: #B286F8;
  font-weight: 100;
}
#color-collection .right-side .info-box p{
    color: #aaacaf;
    font-size: .8rem;
    margin: 40px 0;
}
#color-collection .right-side .info-box a{
    color: #4C44C1;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    margin: 40px 0 20px ;
    display: block;
}
#color-collection .right-side .info-box .line{
    height: 2px;
    width: 50px;
    background: #B286F8;
    display: inline-block;
}
#color-collection .right-side .color-slider{
    width: 20px;
    height: 640px;
    border-radius: 40px;
    position: relative;
    background: #ff0e0a; /* Old browsers */
background: -moz-linear-gradient(top, #ff0e0a 10%, #ff900a 20%, #fce40a 30%, #3df909 40%, #09f7b8 50%, #132af7 60%, #aa11f7 70%, #f213df 80%, #fc143e 90%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ff0e0a 10%,#ff900a 20%,#fce40a 30%,#3df909 40%,#09f7b8 50%,#132af7 60%,#aa11f7 70%,#f213df 80%,#fc143e 90%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ff0e0a 10%,#ff900a 20%,#fce40a 30%,#3df909 40%,#09f7b8 50%,#132af7 60%,#aa11f7 70%,#f213df 80%,#fc143e 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0e0a', endColorstr='#fc143e',GradientType=0 ); /* IE6-9 */
}

#color-collection .right-side .col-1{
    float: left;
    width: 80%;
}
#color-collection .right-side .col-2{
    float: left;
    width: 20%;
}
#color-collection .right-side .color-slider .picker{
    width: 20px;
    height: 20px;
    border: 10px solid white;
    border-radius: 50%;
    background: #FEA83C;
    box-sizing: content-box;
    position: absolute;
    top: 250px;
    left: -10px;
}

/*Laptops*/
@media only screen and (max-width: 1215px) {

}
/*Tablets*/
@media only screen and (max-width: 1023px) {
    #color-collection{
       text-align: center;

    } 
    #color-collection .left-side {
        width: 100%;

    } 
  
    #color-collection .right-side {
        width: 100%;
        padding: 100px 0;
    } 
    #color-collection .right-side .col-1{
        width: 50%;
        padding: 100px 0;
    } 
    #color-collection .right-side .info-box{
        margin-right: 0;
    } 
    #color-collection .right-side .col-2{
        width: 50%;
        padding: 100px 0;
    } 
    
}
/*Mobile Devices*/
@media only screen and (max-width: 767px) {
    #color-collection .left-side {
        width: 100%;
        text-align: center;
    } 
    #color-collection .left-side img{
        float: none;
    } 
    #color-collection .right-side {
        width: 100%;
        padding: 100px 0;
    } 
    #color-collection .right-side .col-1{
        width: 80%;
        padding: 0 20px;
        text-align: center;
    } 
    #color-collection .right-side .col-2{
        width: 20%;
        padding: 0 20px;
        text-align: left;
    } 
    #color-collection .right-side .swatch-area{
        margin-top: 0;
        margin-bottom: 45;
    }
    #color-collection .right-side .swatch-area .circle{
        width: 40px;
        height: 40px;
    }
    #color-collection .right-side .info-box {
        display: block;
        margin: 0 auto;
    }  
    #color-collection .right-side .color-slider {
        width: 20px;
        height: 500px;
        border-radius: 40px;
        position: relative;
    }
}

