footer{
    background: #4C44C1;
    padding: 80px 0;
    text-align: center;
    color: white;
}
footer h2{
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    margin-bottom: 20px;
}
footer h2 span{
    font-weight: 700;
    color: #FEA83C;
}
footer .menu{
    margin-bottom: 20px;
}
footer .menu li{
    display: inline-block;
    padding: 10px 20px;
}
footer .menu li a{
    font-size: .8rem;
    font-weight: 600;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
footer p{
    font-size: .8rem;
    font-weight: 300;
    margin-bottom: 40px;
}
footer .social-media li{
    display: inline-block;
    padding: 0 10px;
} 
footer .social-media li a{
    color: #E6CDF9;
    font-size: 2rem;
    opacity: .5;
} 

/*Laptops*/
@media only screen and (max-width: 1215px) {

}
/*Tablets*/
@media only screen and (max-width: 1023px) {

}
/*Mobile Devices*/
@media only screen and (max-width: 767px) {
    
}
