header{
    padding: 30px 20px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 50px;
}
header:after{
    content: "";
    display: table;
    clear: both;
}
header a{
    color: #4C44C1;
    text-decoration: none;

}
header .logo{
    display: inline-block;
    float: left;
    margin-right: 28px;
}
header .logo img{
    width: 40px;
}
header .menu{
    display: inline-block;
    float: left;
    position: relative;
    top: 34px;
}
header .menu .icon {
    display: none;
  }
header .menu a{
   text-transform: uppercase;
    margin-right: 20px;
}
header .header-buttons{
    display: inline-block;
    float: right;
    position: relative;
    top: 34px;
}
header .header-buttons .blue-btn{
    background: #4C44C1;
    padding: 14px 46px;
    color: white;
    border-radius: 35px;
    text-transform: uppercase;   
    margin-right: 15px;
}
header .header-buttons .blue-btn .fas{
   margin-left: 15px; 
}
header .header-buttons .orange-btn{
    background: #FEA83C;
    padding: 14px 46px;
    color: white;
    border-radius: 35px;
    text-transform: uppercase;
}

/*Laptops*/
@media only screen and (max-width: 1215px) {

}
/*Tablets*/
@media only screen and (max-width: 1023px) {

}
/*Mobile Devices*/
@media only screen and (max-width: 767px) {
    .menu a {display: none;}
  .menu a.icon {
    float: right;
    display: block;
  }
  .menu .responsive {position: relative;}
  .menu .responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .menue.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

